@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.flex-and-center {
  @apply flex justify-center items-center;
}

.transition-2ms {
  @apply transition-all duration-[2000ms] ease-linear;
}

.w-container {
  @apply w-full max-w-[1100px];
}

.fill-box {
  transform-box: fill-box;
}

/* Mobile */
@media (max-width: 794px) {
  html {
    font-size: 56.25%;
  }
}

/* Scroll bar */
@media (min-width: 750px)
{
  ::-webkit-scrollbar {
    width: 14px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(5, 22, 29); 
    border-radius: 7px;
  } 
}
@media (max-width: 750px)
{
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}